USE [FORUM]
GO
/****** Object:  UserDefinedFunction [dbo].[brojKom]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[brojKom](@diskid int)
returns int
as begin
declare @brojkom int
set @brojkom = (
select COUNT(*)
from dbo.vratiKomentare()
where diskid=@diskid
)
return @brojkom
end
GO
/****** Object:  UserDefinedFunction [dbo].[brojStranica]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[brojStranica](@pagesize int)
returns int
as begin
	declare @brstr int
	set @brstr = (
	select CEILING(CONVERT(float, COUNT(*)) / @pagesize)
	from dbo.vratiDiskusije()
	)
	return @brstr
end
GO
/****** Object:  UserDefinedFunction [dbo].[prebrojDiskStat]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[prebrojDiskStat](@diskid int, @diskstat bit)
returns int
as begin
declare @brojstat int
set @brojstat = (
select COUNT(*)
from DiskusijaStatus
where diskid=@diskid and diskstat=@diskstat
)
return @brojstat
end
GO
/****** Object:  UserDefinedFunction [dbo].[prebrojKomStat]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[prebrojKomStat](@komid int, @komstat bit)
returns int
as begin
	declare @brojstat int
	set @brojstat = (
	select COUNT(*)
	from KomentarStatus
	where komid=@komid and komstat=@komstat
	)
	return @brojstat
end
GO
/****** Object:  UserDefinedFunction [dbo].[proveriDiskStatus]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[proveriDiskStatus](@diskid int, @korid int)
returns int
as begin
declare @diskstat int
set @diskstat = (
select diskstat
from DiskusijaStatus
where diskid=@diskid and korid=@korid
)
return @diskstat
end
GO
/****** Object:  UserDefinedFunction [dbo].[proveriKomStat]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[proveriKomStat](@komid int, @korid int)
returns int
as begin
	declare @komstat int
	set @komstat = (
	select komstat
	from KomentarStatus
	where komid=@komid and korid=@korid
	)
	return @komstat
end
GO
/****** Object:  Table [dbo].[Tema]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tema](
	[temaid] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [varchar](30) NOT NULL,
	[obrisana] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[temaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[vratiTeme]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[vratiTeme]()
returns table
as return (
select temaid, naziv
from Tema
where obrisana=0
)
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[korid] [int] IDENTITY(1,1) NOT NULL,
	[ime] [varchar](30) NOT NULL,
	[prezime] [varchar](30) NOT NULL,
	[korime] [varchar](30) NOT NULL,
	[datumKor] [date] NULL,
	[obrisan] [bit] NULL,
	[lozinka] [varbinary](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[korid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profilna]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profilna](
	[profid] [int] IDENTITY(1,1) NOT NULL,
	[korid] [int] NULL,
	[slika] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[profid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[vratiKorisnike]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[vratiKorisnike]()
returns table
as return (
select k.korid, ime, prezime, korime, lozinka, datumKor, p.slika
from Korisnik k left join Profilna p
on k.korid=p.korid
where obrisan=0
)
GO
/****** Object:  Table [dbo].[Diskusija]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diskusija](
	[diskid] [int] IDENTITY(1,1) NOT NULL,
	[temaid] [int] NULL,
	[korid] [int] NULL,
	[naslov] [varchar](80) NOT NULL,
	[tekst] [varchar](400) NOT NULL,
	[datumDisk] [datetime] NULL,
	[slikaputanja] [varchar](80) NULL,
	[obrisana] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[diskid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[vratiDiskusije]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[vratiDiskusije]()
returns table
as return (
select diskid, temaid, korid, naslov, tekst, datumDisk, slikaputanja
from Diskusija
where obrisana=0 and
temaid in (select temaid from dbo.vratiTeme()) and
korid in (select korid from dbo.vratiKorisnike())
)
GO
/****** Object:  Table [dbo].[Komentar]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Komentar](
	[komid] [int] IDENTITY(1,1) NOT NULL,
	[rodkomid] [int] NULL,
	[korid] [int] NULL,
	[diskid] [int] NULL,
	[tekst] [varchar](200) NOT NULL,
	[datumKom] [datetime] NULL,
	[obrisan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[komid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[vratiKomentare]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[vratiKomentare]()
returns table
as return (
select komid, rodkomid, korid, diskid, tekst, datumKom
from Komentar
where obrisan=0 and
korid in (select korid from dbo.vratiKorisnike()) and
diskid in (select diskid from dbo.vratiDiskusije())
)
GO
/****** Object:  UserDefinedFunction [dbo].[vratiTemu]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[vratiTemu](@temaid int)
returns table
as return (
select *
from dbo.vratiTeme()
where temaid=@temaid
)
GO
/****** Object:  UserDefinedFunction [dbo].[vratiKomentar]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[vratiKomentar](@komid int)
returns table
as return (
select *
from dbo.vratiKomentare()
where komid=@komid
)
GO
/****** Object:  UserDefinedFunction [dbo].[vratiKorisnika]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[vratiKorisnika](@korid int)
returns table
as return (
select *
from dbo.vratiKorisnike()
where korid=@korid
)
GO
/****** Object:  UserDefinedFunction [dbo].[vratiDiskusiju]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[vratiDiskusiju](@diskid int)
returns table
as return (
select * 
from dbo.vratiDiskusije()
where diskid=@diskid
)
GO
/****** Object:  UserDefinedFunction [dbo].[vratiDiskusijeInfo]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[vratiDiskusijeInfo](@korid int)
returns table
as return (
select diskid, d.temaid, d.korid, t.naziv as tema, k.korime as korime, naslov, tekst, datumDisk, d.slikaputanja as slika, k.slika as profilna,
dbo.brojKom(diskid) as brojkom, dbo.prebrojDiskStat(diskid, 1) as lajkovi, dbo.prebrojDiskStat(diskid, 0) as dislajkovi,
dbo.proveriDiskStatus(diskid, @korid) as lajkovan
from dbo.vratiDiskusije() d
join dbo.vratiTeme() t
on d.temaid=t.temaid
join dbo.vratiKorisnike() k
on d.korid=k.korid
)
GO
/****** Object:  UserDefinedFunction [dbo].[vratiDiskusijeInfoPoTemi]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[vratiDiskusijeInfoPoTemi](@temaid int, @korid int)
returns table
as return (
select *
from dbo.vratiDiskusijeInfo(@korid)
where temaid=@temaid
)
GO
/****** Object:  UserDefinedFunction [dbo].[loginKorisnika]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[loginKorisnika](@korime varchar(30), @lozinka varchar(30))
returns table
as return (
select *
from dbo.vratiKorisnike()
where korime=@korime and lozinka=HASHBYTES('SHA2_256', @lozinka)
)
GO
/****** Object:  UserDefinedFunction [dbo].[vratiKomentareInfo]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[vratiKomentareInfo](@korid int)
returns table
as return (
select komid, rodkomid, kom.korid, kor.korime, diskid, tekst, datumKom, kor.slika as profilna,
dbo.prebrojKomStat(komid, 1) as lajkovi, dbo.prebrojKomStat(komid, 0) as dislajkovi, dbo.proveriKomStat(komid, @korid) as lajkovan
from dbo.vratiKomentare() kom
join dbo.vratiKorisnike() kor
on kom.korid=kor.korid
)
GO
/****** Object:  UserDefinedFunction [dbo].[vratiDiskusijuInfo]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[vratiDiskusijuInfo](@diskid int, @korid int)
returns table
as return (
select * 
from dbo.vratiDiskusijeInfo(@korid)
where diskid=@diskid
)
GO
/****** Object:  UserDefinedFunction [dbo].[vratiKorenskeKomInfo]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[vratiKorenskeKomInfo](@diskid int, @korid int)
returns table
as return (
select * 
from dbo.vratiKomentareInfo(@korid)
where diskid=@diskid and rodkomid is null
)
GO
/****** Object:  UserDefinedFunction [dbo].[filterDiskusija]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[filterDiskusija](@naslov varchar(80), @tema varchar(30), @korid int)
returns table
as return (
select *
from dbo.vratiDiskusijeInfo(@korid)
where LOWER(naslov) like CONCAT(@naslov, '%') and
LOWER(tema) like CONCAT(@tema, '%')
)
GO
/****** Object:  UserDefinedFunction [dbo].[vratiOdgovorKomInfo]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[vratiOdgovorKomInfo](@diskid int, @korid int, @rodkomid int)
returns table
as return (
select *
from dbo.vratiKomentareInfo(@korid)
where diskid=@diskid and rodkomid=@rodkomid
)
GO
/****** Object:  UserDefinedFunction [dbo].[vratiStrDiskusije]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[vratiStrDiskusije](@pageindex int, @pagesize int, @korid int)
returns table
as return (
select * 
from dbo.vratiDiskusijeInfo(@korid)
order by diskid
offset (@pageindex * @pagesize) rows fetch next @pagesize rows only
)
GO
/****** Object:  Table [dbo].[DiskusijaStatus]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiskusijaStatus](
	[diskstatid] [int] IDENTITY(1,1) NOT NULL,
	[diskstat] [bit] NULL,
	[korid] [int] NULL,
	[diskid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[diskstatid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KomentarStatus]    Script Date: 18 Dec 2025 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KomentarStatus](
	[komstatid] [int] IDENTITY(1,1) NOT NULL,
	[komstat] [bit] NULL,
	[korid] [int] NULL,
	[komid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[komstatid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Diskusija] ON 

INSERT [dbo].[Diskusija] ([diskid], [temaid], [korid], [naslov], [tekst], [datumDisk], [slikaputanja], [obrisana]) VALUES (1, 1, 1, N'Nabolji akcioni filmovi', N'Koji su najbolji akcioni filmovi', CAST(N'2008-11-11T13:23:44.000' AS DateTime), NULL, 0)
INSERT [dbo].[Diskusija] ([diskid], [temaid], [korid], [naslov], [tekst], [datumDisk], [slikaputanja], [obrisana]) VALUES (2, 3, 3, N'Greska segmentacije u cpp-u', N'Pomoc oko otklanjanja greske', CAST(N'2008-11-11T13:23:44.000' AS DateTime), NULL, 0)
INSERT [dbo].[Diskusija] ([diskid], [temaid], [korid], [naslov], [tekst], [datumDisk], [slikaputanja], [obrisana]) VALUES (3, 2, 2, N'Neki naslov', N'bla bla bla bla', CAST(N'2008-11-11T13:23:44.000' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Diskusija] OFF
GO
SET IDENTITY_INSERT [dbo].[DiskusijaStatus] ON 

INSERT [dbo].[DiskusijaStatus] ([diskstatid], [diskstat], [korid], [diskid]) VALUES (1, 1, 1, 1)
INSERT [dbo].[DiskusijaStatus] ([diskstatid], [diskstat], [korid], [diskid]) VALUES (3, 1, 3, 1)
INSERT [dbo].[DiskusijaStatus] ([diskstatid], [diskstat], [korid], [diskid]) VALUES (4, 0, 4, 1)
SET IDENTITY_INSERT [dbo].[DiskusijaStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Komentar] ON 

INSERT [dbo].[Komentar] ([komid], [rodkomid], [korid], [diskid], [tekst], [datumKom], [obrisan]) VALUES (1, NULL, 2, 1, N'ovo je prvi roditeljski komentar', CAST(N'2008-11-09T15:45:21.000' AS DateTime), 0)
INSERT [dbo].[Komentar] ([komid], [rodkomid], [korid], [diskid], [tekst], [datumKom], [obrisan]) VALUES (2, NULL, 2, 1, N'ovo je drugi roditeljski komentar', CAST(N'2008-11-09T15:45:21.000' AS DateTime), 0)
INSERT [dbo].[Komentar] ([komid], [rodkomid], [korid], [diskid], [tekst], [datumKom], [obrisan]) VALUES (3, 2, 3, 1, N'ovo prvi dete komentar', CAST(N'2008-11-09T15:45:21.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Komentar] OFF
GO
SET IDENTITY_INSERT [dbo].[KomentarStatus] ON 

INSERT [dbo].[KomentarStatus] ([komstatid], [komstat], [korid], [komid]) VALUES (1, 1, 2, 1)
INSERT [dbo].[KomentarStatus] ([komstatid], [komstat], [korid], [komid]) VALUES (2, 1, 1, 1)
INSERT [dbo].[KomentarStatus] ([komstatid], [komstat], [korid], [komid]) VALUES (3, 0, 3, 1)
SET IDENTITY_INSERT [dbo].[KomentarStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Korisnik] ON 

INSERT [dbo].[Korisnik] ([korid], [ime], [prezime], [korime], [datumKor], [obrisan], [lozinka]) VALUES (1, N'Pera', N'Peric', N'peraperic', CAST(N'2008-11-11' AS Date), 0, 0x0851F9CB7ED5C951298D9387B06985BF8FD15F98B4E700C81CC4ADEDDCD8C2CD)
INSERT [dbo].[Korisnik] ([korid], [ime], [prezime], [korime], [datumKor], [obrisan], [lozinka]) VALUES (2, N'Zika', N'Zikic', N'zikazikic', CAST(N'2008-11-11' AS Date), 0, 0x5E884898DA28047151D0E56F8DC6292773603D0D6AABBDD62A11EF721D1542D8)
INSERT [dbo].[Korisnik] ([korid], [ime], [prezime], [korime], [datumKor], [obrisan], [lozinka]) VALUES (3, N'Mika', N'Mikic', N'mikamikic', CAST(N'2008-11-11' AS Date), 0, 0x5994471ABB01112AFCC18159F6CC74B4F511B99806DA59B3CAF5A9C173CACFC5)
SET IDENTITY_INSERT [dbo].[Korisnik] OFF
GO
SET IDENTITY_INSERT [dbo].[Tema] ON 

INSERT [dbo].[Tema] ([temaid], [naziv], [obrisana]) VALUES (1, N'Filmovi', 0)
INSERT [dbo].[Tema] ([temaid], [naziv], [obrisana]) VALUES (2, N'Stripovi', 0)
INSERT [dbo].[Tema] ([temaid], [naziv], [obrisana]) VALUES (3, N'Programiranje', 0)
SET IDENTITY_INSERT [dbo].[Tema] OFF
GO
ALTER TABLE [dbo].[Diskusija]  WITH CHECK ADD FOREIGN KEY([korid])
REFERENCES [dbo].[Korisnik] ([korid])
GO
ALTER TABLE [dbo].[Diskusija]  WITH CHECK ADD FOREIGN KEY([temaid])
REFERENCES [dbo].[Tema] ([temaid])
GO
ALTER TABLE [dbo].[DiskusijaStatus]  WITH CHECK ADD FOREIGN KEY([diskid])
REFERENCES [dbo].[Diskusija] ([diskid])
GO
ALTER TABLE [dbo].[DiskusijaStatus]  WITH CHECK ADD FOREIGN KEY([korid])
REFERENCES [dbo].[Korisnik] ([korid])
GO
ALTER TABLE [dbo].[Komentar]  WITH CHECK ADD FOREIGN KEY([diskid])
REFERENCES [dbo].[Diskusija] ([diskid])
GO
ALTER TABLE [dbo].[Komentar]  WITH CHECK ADD FOREIGN KEY([korid])
REFERENCES [dbo].[Korisnik] ([korid])
GO
ALTER TABLE [dbo].[Komentar]  WITH CHECK ADD FOREIGN KEY([rodkomid])
REFERENCES [dbo].[Komentar] ([komid])
GO
ALTER TABLE [dbo].[KomentarStatus]  WITH CHECK ADD FOREIGN KEY([komid])
REFERENCES [dbo].[Komentar] ([komid])
GO
ALTER TABLE [dbo].[KomentarStatus]  WITH CHECK ADD FOREIGN KEY([korid])
REFERENCES [dbo].[Korisnik] ([korid])
GO
ALTER TABLE [dbo].[Profilna]  WITH CHECK ADD FOREIGN KEY([korid])
REFERENCES [dbo].[Korisnik] ([korid])
GO
/****** Object:  StoredProcedure [dbo].[dodajDiskStat]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[dodajDiskStat](@diskid int, @korid int, @diskstat bit)
as begin
	begin tran
	insert into DiskusijaStatus(diskstat, korid, diskid)
	values (@diskstat, @korid, @diskid)
	if @@ERROR <> 0
		begin
		print 'Nije bilo moguce dodati status diskusiji!'
		rollback
		end
	else
		begin
		print 'Dodat je status diskusiji!'
		commit
		end
end
GO
/****** Object:  StoredProcedure [dbo].[dodajDiskusiju]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[dodajDiskusiju](@temaid int, @korid int, @naslov varchar(80), @tekst varchar(400), @slikaputanja varchar(80))
as begin
	begin tran
	insert into Diskusija(temaid, korid, naslov, tekst, datumDisk, slikaputanja, obrisana)
	values (@temaid, @korid, @naslov, @tekst, GETDATE(), @slikaputanja, 0)
	if @@ROWCOUNT > 0
		begin
		print 'Uspesno je dodata diskusija!'
		commit
		end
	else
		begin
		print 'Doslo je do greske prilikom dodavanja diskusije!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[dodajKomentar]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[dodajKomentar](@rodkomid int, @korid int, @diskid int, @tekst varchar(200))
as begin
	begin tran
	insert into Komentar(rodkomid, korid, diskid, tekst, datumKom, obrisan)
	values (@rodkomid, @korid, @diskid, @tekst, GETDATE(), 0)
	if @@ROWCOUNT > 0
		begin
		print 'Uspesno je dodat komentar!'
		commit
		end
	else
		begin
		print 'Doslo je do greske prilikom dodavanja komentara!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[dodajKomStat]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[dodajKomStat](@komid int, @korid int, @komstat bit)
as begin
	begin tran
	insert into KomentarStatus(komstat, korid, komid)
	values (@komstat, @korid, @komid)
	if @@ERROR <> 0
		begin
		print 'Doslo je do greske prilikom dodavanja statusa komentara!'
		rollback
		end
	else
		begin
		print 'Uspesno je dodat status komentara!'
		commit
		end
end
GO
/****** Object:  StoredProcedure [dbo].[dodajKorisnika]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[dodajKorisnika](@ime varchar(30), @prezime varchar(30), @korime varchar(30), @lozinka varchar(30))
as begin
	begin tran
	insert into Korisnik(ime, prezime, korime, lozinka, datumKor, obrisan)
	values (@ime, @prezime, @korime, HASHBYTES('SHA2_256', @lozinka), GETDATE(), 0)
	if @@ROWCOUNT > 0
		begin
		print 'Uspesno dodavanje korisnika!'
		commit
		end
	else
		begin
		print 'Nije uspesno dodavanje korisnika!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[dodajProfilnu]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[dodajProfilnu](@korid int, @slika varbinary(max))
as begin
	begin tran
	insert into Profilna(korid, slika)
	values (@korid, @slika)
	if @@ROWCOUNT > 0
		begin
		print 'Uspesno je dodata profilna slika!'
		commit
		end
	else
		begin
		print 'Doslo je do greske prilikom dodavanja profilne slike!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[dodajTemu]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[dodajTemu](@naziv varchar(30))
as begin
	begin tran
	insert into Tema(naziv, obrisana)
	values (@naziv, 0)
	if @@ROWCOUNT > 0
		begin
		print 'Uspesno je dodata tema!'
		commit
		end
	else
		begin
		print 'Doslo je do greske prilikom dodavanja teme!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[izmeniDiskusiju]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[izmeniDiskusiju](@diskid int, @temaid int, @naslov varchar(80), @tekst varchar(400), @slikaputanja varchar(80))
as begin
	begin tran
	select *
	from dbo.vratiDiskusiju(@diskid)
	if @@ROWCOUNT > 0
		begin
		update Diskusija
		set temaid=@temaid, naslov=@naslov, tekst=@tekst, slikaputanja=@slikaputanja
		where diskid=@diskid
		if @@ERROR <> 0
			begin
			print 'Doslo je do greske prilikom izmene diskusije!'
			rollback
			end
		else
			begin
			print 'Uspesno je izmenjena diskusija!'
			commit
			end
		end
	else
		begin
		print 'Unet je id diskusije koja ne postoji!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[izmeniKomentar]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[izmeniKomentar](@komid int, @korid int, @tekst varchar(200))
as begin
	begin tran
	select *
	from dbo.vratiKomentar(@komid)
	if @@ROWCOUNT > 0
		begin
		update Komentar
		set tekst=@tekst
		where komid=@komid and korid=@korid
		if @@ERROR <> 0
			begin
			print 'Doslo je do greske prilikom izmene komentara!'
			rollback
			end
		else
			begin
			print 'Uspesno je izmenjen komentar!'
			commit
			end
		end
	else
		begin
		print 'Unet je id komentara koji ne postoji!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[izmeniKorisnika]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[izmeniKorisnika](@korid int, @ime varchar(30), @prezime varchar(30), @korime varchar(30), @lozinka varchar(30))
as begin
	begin tran
	select *
	from dbo.vratiKorisnika(@korid)
	if @@ROWCOUNT > 0
		begin
		update Korisnik
		set ime=@ime, prezime=@prezime, korime=@korime, lozinka=@lozinka
		where korid=@korid
		if @@ERROR <> 0
			begin
			print 'Doslo je do greske prilikom izmene korisnika!'
			rollback
			end
		else
			begin
			print 'Uspesno je izmenjen korisnik!'
			commit
			end
		end
	else
		begin
		print 'Unet je id korisnika koji ne postoji!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[izmeniProfilnu]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[izmeniProfilnu](@korid int, @slika varbinary(max))
as begin
	begin tran
	select *
	from Profilna
	where korid=@korid
	if @@ROWCOUNT > 0
		begin
		update Profilna
		set slika=@slika
		where korid=@korid
		if @@ERROR <> 0
			begin
			print 'Doslo je do greske prilikom izmene profilne!'
			rollback
			end
		else
			begin
			print 'Uspesno je izmenjena prfilna slika!'
			commit
			end
		end
	else
		begin
		print 'Unet je id korisnika koji ne postoji!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[izmeniStatusDisk]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[izmeniStatusDisk](@diskid int, @korid int, @diskstat bit)
as begin
	begin tran
	select * 
	from DiskusijaStatus
	where diskid=@diskid and korid=@korid
	if @@ROWCOUNT > 0
		begin
		update DiskusijaStatus
		set diskstat=@diskstat
		where diskid=@diskid and korid=@korid
		if @@ERROR <> 0
			begin
			print 'Doslo je do problema prilikom izmene statusa diskusije!'
			rollback
			end
		else
			begin
			print 'Uspesno je izmenjen status diskusije!'
			commit
			end
		end
	else
		begin
		print 'Nema statusa na diskusiji!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[izmeniStatusKom]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[izmeniStatusKom](@komid int, @korid int, @komstat bit)
as begin
	begin tran
	select * 
	from KomentarStatus
	where komid=@komid and korid=@korid
	if @@ROWCOUNT > 0
		begin
		update KomentarStatus
		set komstat=@komstat
		where komid=@komid and korid=@korid
		if @@ERROR <> 0
			begin
			print 'Doslo je do problema prilikom izmene statusa komentara!'
			rollback
			end
		else
			begin
			print 'Uspesno je izmenjen status komentara!'
			commit
			end
		end
	else
		begin
		print 'Nema statusa na komentaru!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[izmeniTemu]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[izmeniTemu](@temaid int, @naziv varchar(30))
as begin
	begin tran
	select *
	from dbo.vratiTemu(@temaid)
	if @@ROWCOUNT > 0
		begin
		update Tema
		set naziv=@naziv
		where temaid=@temaid
		if @@ERROR <> 0
			begin
			print 'Doslo je greske prilikom izmene teme!'
			rollback
			end
		else
			begin
			print 'Uspesno je izmenjena tema!'
			commit
			end
		end
	else
		begin
		print 'Unet je id teme koja ne postoji!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[obrisiDiskusiju]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[obrisiDiskusiju](@diskid int)
as begin
	begin tran
	select *
	from dbo.vratiDiskusiju(@diskid)
	if @@ROWCOUNT > 0
		begin
		delete from Diskusija
		where diskid=@diskid
		if @@ERROR <> 0
			begin
			print 'Doslo je do greske prilikom brisanja diskusije!'
			rollback
			end
		else
			begin
			print 'Uspesno je obrisana diskusija!'
			commit
			end
		end
	else
		begin
		print 'Unet je id diskusije koja ne postoji!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[obrisiKomentar]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[obrisiKomentar](@komid int)
as begin
	begin tran
	select * 
	from dbo.vratiKomentar(@komid)
	if @@ROWCOUNT > 0
		begin
		delete from Komentar
		where komid=@komid
		if @@ERROR <> 0
			begin
			print 'Doslo je greske prilikom brisanja komentara!'
			rollback
			end
		else
			begin
			print 'Uspesno je obrisan komentar!'
			commit
			end
		end
	else
		begin
		print 'Unet je id komentara koji ne postoji!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[obrisiKorisnika]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[obrisiKorisnika](@korid int)
as begin
	begin tran
	select *
	from dbo.vratiKorisnika(@korid)
	if @@ROWCOUNT > 0
		begin
		delete from Korisnik
		where korid=@korid
		if @@ERROR <> 0
			begin
			print 'Doslo je do greske prilikom brisanja korisnika!'
			rollback
			end
		else
			begin
			print 'Uspesno je obrisan korisnik!'
			commit
			end
		end
	else
		begin
		print 'Uneti id korisnika ne postoji!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[obrisiProfilnu]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[obrisiProfilnu](@korid int)
as begin
	begin tran
	select *
	from Profilna
	where korid=@korid
	if @@ROWCOUNT > 0
		begin
		delete from Profilna
		where korid=@korid
		if @@ERROR <> 0
			begin
			print 'Doslo je do greske prilikom brisanja profilne!'
			rollback
			end
		else
			begin
			print 'Uspesno je obrisana profilna slika!'
			commit
			end
		end
	else
		begin
		print 'Unet je id korisnika koji ne postoji!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[obrisiStatusDisk]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[obrisiStatusDisk](@diskid int, @korid int)
as begin
	begin tran
	select *
	from DiskusijaStatus
	where diskid=@diskid and korid=@korid
	if @@ROWCOUNT > 0
		begin
		delete from DiskusijaStatus
		where diskid=@diskid and korid=@korid
		if @@ERROR <> 0
			begin
			print 'Doslo je do problema prilikom uklanjanja statusa diskusije!'
			rollback
			end
		else
			begin
			print 'Uspesno je uklonjen status diskusije!'
			commit
			end
		end
	else
		begin
		print 'Diskusija nije imala status na pocetku!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[obrisiStatusKom]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[obrisiStatusKom](@komid int, @korid int)
as begin
	begin tran
	select *
	from KomentarStatus
	where komid=@komid and korid=@korid
	if @@ROWCOUNT > 0
		begin
		delete from KomentarStatus
		where komid=@komid and korid=@korid
		if @@ERROR <> 0
			begin
			print 'Doslo je do greske prilikom uklanjanja statusa komentara!'
			rollback
			end
		else
			begin
			print 'Uspesno je uklonjen status komentara!'
			commit
			end
		end
	else
		begin
		print 'Nije nadjen status komentara sa ovim id-jem!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[obrisiTemu]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[obrisiTemu](@temaid int)
as begin
	begin tran
	select *
	from dbo.vratiTemu(@temaid)
	if @@ROWCOUNT > 0
		begin
		delete from Tema
		where temaid=@temaid
		if @@ERROR <> 0
			begin
			print 'Doslo je do greske prilikom brisanja teme!'
			rollback
			end
		else
			begin
			print 'Uspesno je obrisana tema!'
			commit
			end
		end
	else
		begin
		print 'Unet je id teme koja ne postoji!'
		rollback
		end
end
GO
/****** Object:  StoredProcedure [dbo].[registracijaKorisnika]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[registracijaKorisnika](@ime varchar(30), @prezime varchar(30), @korime varchar(30), @lozinka varchar(30))
as begin
	begin tran
	select *
	from dbo.vratiKorisnike()
	where korime=@korime
	if @@ROWCOUNT > 0
		begin
		print 'Vec postoji korisnik sa istim korisnickim imenom!'
		rollback
		end
	else
		begin
		insert into Korisnik(ime, prezime, korime, lozinka, datumKor, obrisan)
		values (@ime, @prezime, @korime, HASHBYTES('SHA2_256', @lozinka), GETDATE(), 0)
		if @@ERROR <> 0
			begin
			print 'Doslo je do greske prilikom registracije korisnika!'
			rollback
			end
		else
			begin
			print 'Uspesno je registrovan korisnik!'
			commit
			end
		end
end
GO
/****** Object:  Trigger [dbo].[on_delete_diskusija]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[on_delete_diskusija]
on [dbo].[Diskusija]
instead of delete
as begin
	update Diskusija
	set obrisana=1
	where diskid=(select diskid from deleted)
end
GO
ALTER TABLE [dbo].[Diskusija] ENABLE TRIGGER [on_delete_diskusija]
GO
/****** Object:  Trigger [dbo].[on_delete_komentar]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[on_delete_komentar]
on [dbo].[Komentar]
instead of delete
as begin
	update Komentar
	set obrisan=1
	where komid=(select komid from deleted)
end
GO
ALTER TABLE [dbo].[Komentar] ENABLE TRIGGER [on_delete_komentar]
GO
/****** Object:  Trigger [dbo].[on_delete_korisnik]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[on_delete_korisnik]
on [dbo].[Korisnik]
instead of delete
as begin
	update Korisnik
	set obrisan=1
	where korid=(
	select korid
	from deleted
	)
end
GO
ALTER TABLE [dbo].[Korisnik] ENABLE TRIGGER [on_delete_korisnik]
GO
/****** Object:  Trigger [dbo].[on_delete_tema]    Script Date: 18 Dec 2025 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[on_delete_tema]
on [dbo].[Tema]
instead of delete
as begin
update Tema
set obrisana=1
where temaid=(
select temaid
from deleted
)
end
GO
ALTER TABLE [dbo].[Tema] ENABLE TRIGGER [on_delete_tema]
GO
